.hero {
  h1 {
    font-size: clamp(28px, 5vw, 64px);
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1d3444;
    margin-bottom: 10px;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5b5b5b;
  }
}
